# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment
.env

# Playwright
playwright-report/

# Allure
allure-results/
allure-report/

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

Video/